<div class="flex justify-content-center	align-items-center pt-6">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
            <img src="../../../assets/img/login.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Registration Form</div>
        </div>
        <form [formGroup]="registerForm" (click)="addUser()">
            <div>
                <label for="username" class="block text-900 font-medium mb-2">Username</label>
                <input id="username" type="text" placeholder="Username" formControlName="username" pInputText
                    class="w-full mb-3">

                <label for="password" class="block text-900 font-medium mb-2">Password</label>
                <input id="password" type="password" placeholder="Password" pInputText class="w-full mb-3"
                    formControlName="password" autocomplete="on">

                <label for="confirmPassword" class="block text-900 font-medium mb-2">Repete Password</label>
                <input id="confirmPassword" type="password" pInputText class="w-full mb-3"
                    formControlName="confirmPassword" placeholder="Enter password again" autocomplete="on">

                <button pButton pRipple label="Register" class="w-full p-3 text-xl"></button>
            </div>
        </form>
        <div class="flex justify-content-center align-items-center mt-4">
            <a routerLink="/login">Back</a>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
</div>