<p-dialog [(visible)]="display" (onHide)="onClose()" [style]="{width: '450px'}" header="User Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <p class="font-bold white-space-nowrap">User Information</p>
    </div>
  </ng-template>
  <ng-template pTemplate="content">

    <div class="p-field">
      <label for="description">Id:</label>
      <p>{{user.id}}</p>
    </div>
    <div class="p-field">
      <label for="name">Username:</label>
      <p> {{user.username}} </p>
    </div>
    <div class="p-field">
      <label class="p-mb-3">Role:</label>
      <div class="p-formgrid p-grid">
        <div class="p-field-radiobutton p-col-2">
          <p-radioButton id="role1" name="role" value="1" [(ngModel)]="user['users_role.role_id']"></p-radioButton>
          <label for="role1">Admin</label>
        </div>
        <div class="p-field-radiobutton p-col-2">
          <p-radioButton id="role2" name="role" value="2" [(ngModel)]="user['users_role.role_id']"></p-radioButton>
          <label for="role2">User</label>
        </div>
      </div>
    </div>
    <div class="p-field">
      <label for="permissions">Permissions:</label>
      <ng-container *ngIf="permission.length > 0">
        <app-table-permissions [permissions]=permission [userPermissions]="user['roles_permissions.permission_id']">
        </app-table-permissions>
      </ng-container>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="onClose()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateUserRole()"></button>
  </ng-template>
</p-dialog>